.sidebar-container {
    display: flex;
}

main {
    background-color: #000000;
    width: 100%;
    padding: 20px;
}

.sidebar {
    background-color: #99A1A4;
    height: 100vh;
}

.top-side {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}



#logo {
    width: 6em;
    height: 6em;
}

.bars {
    color: #000000;
}

.bars:hover {
    scale: 1.1;
    cursor: pointer;
}

.bottom-side {
    padding-top: 10px;
}

.link {
    display: flex;
    color: #000000;
    padding: 15px 0;
}

.link:hover {
    background: #FFCBDB;
    color: #000000;
    transition: all 0.3s ease-in-out;
}

.menu-icon {
    padding-left:10px;
    padding-right:30px;
}

.link:hover .menu-icon {
    scale: 1.2;
}

.menu-name {
    font-size: 20px;
    font-weight: 800;
}

.link:hover .menu-name {
    scale: 1.2;
    font-weight: 900;
}

.active {
    background: #000000;
    color: white;
}

.side-bottom {
    background: url(../../assets/sidebottom.jpg);
    background-size: cover;
    height: 50%;
}